<header class="header">
  <div class="container grid ">
    <ul class="main-menu">
      <li> <a>{{ 'Biogafie' | uppercase }}</a> </li>
      <li> <a>{{ 'Aktuell' | uppercase }}</a> </li>
      <li> <a>{{ 'Vita' | uppercase }}</a> </li>
      <li> <a>{{ 'Gallerie' | uppercase }}</a> </li>
      <li> <a>{{ 'Media' | uppercase }}</a> </li>
      <li> <a>{{ 'Kontakt' | uppercase }}</a> </li>
    </ul>
    <div class="socials">
      <div class="flex-container">
        <i class="instagram iconBox instagram"></i>
      </div>
    </div>
  </div>
</header>
