<header class="header">
  <div class="container grid ">
    <div *ngIf='isMobile' class="mobileButton">

      <svg enable-background="new 0 0 384 384" version="1.1" viewBox="0 0 384 384" xml:space="preserve"
        xmlns="http://www.w3.org/2000/svg">
        <rect y="277.33" width="384" height="42.667" />
        <rect y="170.67" width="384" height="42.667" />
        <rect y="64" width="384" height="42.667" />
      </svg>

    </div>
    <ul *ngIf='!isMobile' class="main-menu">
      <li> <a (click)="scroll('sectionBiografie')">{{ 'Biogafie' | uppercase }}</a> </li>
      <li> <a (click)="scroll('sectionAktuell')">{{ 'Aktuell' | uppercase }}</a> </li>
      <li> <a (click)="scroll('sectionVita')">{{ 'Vita' | uppercase }}</a> </li>
      <li> <a (click)="scroll('sectionGallerie')">{{ 'Gallerie' | uppercase }}</a> </li>
      <li> <a (click)="scroll('sectionMedia')">{{ 'Media' | uppercase }}</a> </li>
      <li> <a>{{ 'Kontakt' | uppercase }}</a> </li>
    </ul>
    <div class="socials">
      <div class="flex-container">
        <i class="instagram iconBox instagram"></i>
        <i class="instagram iconBox facebook"></i>
        <i class="instagram iconBox youtube"></i>
      </div>
    </div>
  </div>
</header>
<!-- <h1>{{ isMobile }}</h1> -->
