@import '../../assets/scss/grid.scss';
@import '../../assets/scss/animations.scss';
@import '../../styles.scss';

header {
  background: rgba(41, 41, 41, 0.94) 0% 0% no-repeat padding-box;
  width: 100%;
  height: 68px;
  display: flex;
  align-content: center;

  .grid {
    display: grid;
    grid-template-columns: 1fr auto auto 1fr;
    grid-template-rows: 100%;
    grid-template-areas: ". menu socials .";
    align-content: center;
    align-items: center;
  }


  ul.main-menu {
    grid-area: menu;
    display: flex;
    width: auto;
    flex-flow: row;

    li {
      margin-right: 0.5rem;
      list-style: none;

      &::after {
        content: '';
        display: inline-block;
        margin: 0 22px;
        transform: translateY(-2px);
        width: 8px;
        height: 8px;
        background: transparent url('../../assets/images/svg/menu_seperator.svg') 0% 0% no-repeat padding-box;
      }

      a {
        color: var(--light-color);
        padding: 0.2rem;
        font-family: var(--title-font);
        @include animation-1;


        &:hover {
          cursor: pointer;
          color: lighten($akzent-color, 10);
        }
      }
    }
  }
}

.socials {
  grid-area: socials;


  .flex-container {
    display: flex;
    flex-flow: row;
    align-content: center;
    justify-content: flex-start;
  }

  .iconBox {
    display: block;
    width: 20px;
    height: 20px;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center center;
    margin-right: 1.2rem;

    &:last-child {
      margin-right: 0;
    }

    &:hover {
      cursor: pointer;
    }

    i {
      color: var(--light-color);
    }
  }

  .instagram {
    background-image: url('../../assets/images/svg/instagram_white.svg');
  }

  .facebook {
    background-image: url('../../assets/images/svg/facebook_white.svg');
  }

  .youtube {
    background-image: url('../../assets/images/svg/youtube_white.svg');
  }




}
