@import '../../assets/scss/grid.scss';

.footer {
  width: 100%;
  height: 150px;
  margin-top: 8rem;
  background-color: #0D3D1B;

  &.isMobile {
    height: 40px;
  }
}

.flex-container {
  display: flex;
  flex-flow: row;
  align-content: center;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

ul.footer-menu {
  list-style: none;
  display: flex;
  flex-flow: row nowrap;

  li {
    margin-right: 25px;

    &:last-child {
      margin-right: 0;
    }

    a {
      font-family: var(--main-font);
      color: var(--light-color);
      font-size: em(18px, 16px);

      &:hover {
        cursor: pointer;
        text-decoration: underline;
      }
    }
  }
}

span.name {
  font-size: em(29px, 16px);
  font-family: var(--main-font);
  color: var(--light-color);
  font-weight: 300;

  b {
    margin-right: 0.2em;
  }
}
