<section class="vita" id="sectionVita" #sectionVita>
  <div class="title">
    <h2 class="light">{{ "Vita" | uppercase }}</h2>
  </div>

  <div class="container">
    <div class="vita-container">
      <p-dataView [value]="vitas" [paginator]="true" [rows]="vitaRows">
        <p-header>
          {{ "Christian Schönecker Lebenslauf" | titlecase }}
        </p-header>
        <ng-template let-vita let-i="rowIndex" pTemplate="listItem">
          <p-dialog header="Mehr Informationen" [(visible)]="vita.display" class="vitaDialog" styleClass="vitaDialog">
            <div class="title">
              <span class="year"><b>Jahr: </b> {{vita.year}} </span>
              <div class="time">
                <span class="from"><b>Von: </b>{{vita.jobStart?.seconds*1000 | date: 'dd.MM.yyyy'}}</span>
                <span class="to"> <b>Bis:</b> {{vita.jobEnd?.seconds*1000 | date: 'dd.MM.yyyy'}}</span>
              </div>
            </div>
            <div class="body"> {{ vita.description }} </div>
          </p-dialog>
          <div class="p-grid vitaListBox">
            <div class="  p-col-12 p-md-2 year">{{ vita.year }}</div>
            <div class="  p-col-12 p-md-2"> {{ vita.place }}</div>
            <div class="  p-col-12 p-md-4">{{ vita.jobTitle }}</div>
            <div class="  p-col-12 p-md-2">{{ vita.role }}</div>
            <div class="  p-col-12 p-md-2">
              <button class=" button btn-3" type="button" (click)="showDialog(vita.id)" label="Show">
                Mehr Infos
              </button>
            </div>
          </div>
        </ng-template>personal Data
        <ng-template let-vita pTemplate="gridItem"> </ng-template>
      </p-dataView>
    </div>
  </div>
</section>
