@import '../../assets/scss/fluid-type.scss';

section.vita {
  background-color: hsl(0, 0%, 13%);
  ;
  @include fluid-type('padding-top', $min-ScreenSize, $max-ScreenSize, 1rem, 1rem);
  @include fluid-type('padding-bottom', $min-ScreenSize, $max-ScreenSize, 3rem, 5rem);

}

.listFlex-Container {
  display: flex;
  flex-flow: column nowrap;


  .list-row {
    border: 1px red dotted;
    display: flex;
    flex-flow: row nowrap;
    margin-bottom: 1rem;
  }
}

.vitaListBox {
  margin: 0 !important;
  padding: 0.3rem 2rem;
  align-items: center;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);

  .year {
    font-size: 1.4rem;
  }

  &:nth-last-of-type(even) {
    background-color: hsla(121, 5%, 14%, 1);
    z-index: 5;
  }
}

.vitaDialog {
  // padding: 1.871em 2.3em;

  .title {
    display: flex;
    flex-flow: row;
    margin-bottom: 1em;
    font-size: 1.2em;

    span.year {
      flex: 1 1 50%;
      margin-right: 0.5em;
    }

    .time {
      flex: 1;
      justify-self: flex-end;

      span.from {
        margin-right: 0.5em;
      }
    }
  }

  .body {
    padding-bottom: 1em;
  }
}


.container {
  box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.5);
  padding: 2rem 1rem 0 1rem;

}
