* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;


  &:focus {
    outline: 0 !important;
  }
}

html {
  overflow-x: hidden;
}

html,
body {
  font-family: var(--main-font);
  height: 100%;
  background-color: var(--site-background-color);
}

section {
  @include fluid-type("margin-top",
    $min-ScreenSize,
    $max-ScreenSize,
    30px,
    120px);
  @include fluid-type("margin-vottom",
    $min-ScreenSize,
    $max-ScreenSize,
    30px,
    120px);
}
