@import '../../assets/scss/grid.scss';

$shrinkFactor: 0.8;


p {
  margin-bottom: 1rem;
  font-family: var(--main-font);
  font-size: em(16px, 16px);
  line-height: em(29px, 16px);


  &.light {
    color: var(--light-color);
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--title-font);
  text-rendering: optimizeSpeed;
  text-align: center;
}

h1 {
  font-family: var(--title-font);
  font-size: em(58px, 16px);
  font-weight: 100 !important;

  b {
    font-weight: bold;
  }
}

h2 {
  @include fluid-type('font-size', $min-ScreenSize, $max-ScreenSize, 38px*$shrinkFactor, 38px);
  color: var(--dark-color);
  position: relative;
  @include fluid-type('margin-bottom', $min-ScreenSize, $max-ScreenSize, 90px, 137px);
  @include fluid-type('margin-top', $min-ScreenSize, $max-ScreenSize, 25px, 70px);

  &::after {
    content: '';
    width: 46px;
    display: block;
    height: 7px;
    position: absolute;
    background-color: var(--akzent-color);
    z-index: 1740;
    left: 50%;
    bottom: 100%;
    transform: translateX(-50%) translateY(85px);


    @include BreakPoint(md) {
      transform: translateX(-50%) translateY(65px);
    }
  }

  &.light {
    color: var(--light-color);

    &::after {
      background-color: var(--light-color);
    }
  }
}

h3 {
  color: var(--akzent-color);
  text-align: left;
  @include fluid-type('font-size', $min-ScreenSize, $max-ScreenSize, 32px*$shrinkFactor, 32px);
  margin-bottom: 1rem;
  margin-top: 1em;
  text-transform: uppercase;

}



.button {
  width: 192px;
  height: 56px;
  border-radius: 8px;
  background-color: darken(grey, 20%);
  color: var(--light-color);
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  font-family: var(--main-font);
  font-size: em(16px, 16px);
  border: none;
  z-index: 5;
  @include animation-1;

  &:hover {
    cursor: pointer;
  }

  b {
    margin-right: 0.3rem;
  }

  &.center {
    margin: 0 auto;
  }

  &.btn-1 {
    background-color: var(--akzent-color);

    &:hover {
      background-color: lighten($akzent-color, 2%);
    }
  }

  &.btn-2 {
    background-color: hsl(0%, 0%, 8%);

    &:hover {
      background-color: hsl(0%, 0%, 12%);
    }
  }

  &.btn-3 {
    background-color: var(--akzent-color);
    width: 152px;
    height: 48px;
    border-radius: 3px;

    &:hover {
      background-color: var(--akzent-color-dark);
    }
  }

  &.spaceArround {
    @include fluid-type('margin-top', $min-ScreenSize, $max-ScreenSize, 1rem, 2rem);
    @include fluid-type('margin-bottom', $min-ScreenSize, $max-ScreenSize, 1rem, 2rem);
  }
}
