@import 'fluid-type';
@import 'grid';


section.news {
  background-color: var(--akzent-color);
  @include fluid-type('padding-bottom', $min-ScreenSize, $max-ScreenSize, 1rem, 6rem);
}


.news-container {
  display: flex;
  flex-flow: column nowrap;
  align-content: center;
  align-items: center;
  padding-bottom: 20px;
}

.news-item {
  @include fluid-type('margin-bottom', $min-ScreenSize, $max-ScreenSize, 22px, 120px);
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  align-content: center;

  &:last-of-type,
  &.last-of-child {
    margin-bottom: 0;
  }


  .title {
    h3 {
      color: var(--light-color);
      text-transform: none;
      text-align: center;
      @include fluid-type('font-size', $min-ScreenSize, $max-ScreenSize, 22px, 26px);
    }
  }

  .date {
    display: flex;
    flex-flow: row;
    justify-content: center;
    font-size: 16px;
    color: var(--light-color);
    font-weight: 600;
    font-family: var(--main-font);
    @include fluid-type('margin-bottom', $min-ScreenSize, $max-ScreenSize, 20px, 35px);
    position: relative;

    span {
      background-color: var(--akzent-color);
      padding: 0 1rem;
      z-index: 1;
    }

    &::before {
      content: "";
      width: 200%;
      background-color: var(--light-color);
      height: 1px;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translateX(-50%);
    }





  }

  .body {
    background-color: hsla(-224, 40%, 34%, 1);
    border-radius: 60px 0px 60px 6px;
    max-width: 512px;
    width: 100%;
    padding: 38px 50px;
    box-shadow: 5px 6px 0px 0px hsl(137, 54%, 10%);
  }


  @include BreakPoint(md) {
    padding: 30px 25px;
    border-radius: 30px 0px 30px 6px;
  }
}
