.table {
  * {
    border-color: rgba(0, 0, 0, 0.6);
  }

  th {
    background: var(--akzent-color);
    color: var(--light-color);
    border-bottom: 0;
  }

  tr {
    text-align: center;
    background-color: rgba(94, 168, 116, 0.05);
    border: none;
    font-weight: 600;

    td {
      &.eventName {
        text-align: left;
      }
    }
  }

  &:nth-of-type(even) {
    background-color: rgba(94, 168, 116, 0.1);
  }

  :nth-of-type(1) {
    width: 100px;
  }

  :nth-of-type(2) {
    width: 100px;
  }

  :nth-of-type(3) {
    width: 600px;
    max-width: 500px !important;
    min-width: 500px;
  }

  :nth-of-type(4) {
    width: 320px;
    max-width: 90px;
  }
}
