<section class="events">
  <div class="container">
    <div class="title">
      <h2>
        {{'Veranstaltungen' | uppercase}}
      </h2>
    </div>
    <div class="event-table-container">
      <table class="tableEvents">
        <tr>
          <th>Datum</th>
          <th>Zeit</th>
          <th>Veranstaltung</th>
          <th>Ort</th>
        </tr>
        <tr>
          <td>dfddfd</td>
          <td>dfdfddf</td>
          <td>dfdfdfdfddf</td>
          <td>dfdfdfdfdfdfdfdfdf</td>
        </tr>
        <tr>
          <td>dfddfd</td>
          <td>dfdfddf</td>
          <td>dfdfdfdfddf</td>
          <td>dfdfdfdfdfdfdfdfdf</td>
        </tr>
        <tr>
          <td>dfddfd</td>
          <td>dfdfddf</td>
          <td>dfdfdfdfddf</td>
          <td>dfdfdfdfdfdfdfdfdf</td>
        </tr>
        <tr>
          <td>dfddfd</td>
          <td>dfdfddf</td>
          <td>dfdfdfdfddf</td>
          <td>dfdfdfdfdfdfdfdfdf</td>
        </tr>
        <tr>
          <td>dfddfd</td>
          <td>dfdfddf</td>
          <td>dfdfdfdfddf</td>
          <td>dfdfdfdfdfdfdfdfdf</td>
        </tr>
        <tr>
          <td>dfddfd</td>
          <td>dfdfddf</td>
          <td>dfdfdfdfddf</td>
          <td>dfdfdfdfdfdfdfdfdf</td>
        </tr>
      </table>
    </div>
  </div>
</section>
<table class="testTable">
  <tr>
    <th>Datum</th>
    <th>Zeit</th>
    <th>Veranstaltung</th>
    <th>Ort</th>
  </tr>
  <tr>
    <td>dfddfd</td>
    <td>dfdfddf</td>
    <td>dfdfdfdfddf</td>
    <td>dfdfdfdfdfdfdfdfdf</td>
  </tr>
  <tr>
    <td>dfddfd</td>
    <td>dfdfddf</td>
    <td>dfdfdfdfddf</td>
    <td>dfdfdfdfdfdfdfdfdf</td>
  </tr>
  <tr>
    <td>dfddfd</td>
    <td>dfdfddf</td>
    <td>dfdfdfdfddf</td>
    <td>dfdfdfdfdfdfdfdfdf</td>
  </tr>
  <tr>
    <td>dfddfd</td>
    <td>dfdfddf</td>
    <td>dfdfdfdfddf</td>
    <td>dfdfdfdfdfdfdfdfdf</td>
  </tr>
  <tr>
    <td>dfddfd</td>
    <td>dfdfddf</td>
    <td>dfdfdfdfddf</td>
    <td>dfdfdfdfdfdfdfdfdf</td>
  </tr>
  <tr>
    <td>dfddfd</td>
    <td>dfdfddf</td>
    <td>dfdfdfdfddf</td>
    <td>dfdfdfdfdfdfdfdfdf</td>
  </tr>
</table>
