<div class="site-opening">
  <div class="container topSpace">
    <div class="GridContainer">
      <div class="title">
        <h1><b>Christian</b> Schönecker</h1>
      </div>
      <div *ngIf='!isTriggered' class="navigationBar">
        <ul class="secondaryMenu">

          <!-- TODO: Dont work on other sites like "logink" -->
          <li> <a (click)="scroll('sectionBiografie')">{{ 'Biogafie' | uppercase }}</a> </li>
          <li> <a (click)="scroll('sectionAktuell')">{{ 'Aktuell' | uppercase }}</a> </li>
          <li> <a (click)="scroll('sectionPersonenbeschreibung')"> {{ 'Personenbeschreibung' | uppercase }} </a> </li>
          <li> <a (click)="scroll('sectionVeranstaltung')"> {{ 'Veranstaltung' | uppercase }} </a> </li>
          <li> <a (click)="scroll('sectionVita')">{{ 'Vita' | uppercase }}</a> </li>
          <li> <a (click)="scroll('sectionGallerie')">{{ 'Gallerie' | uppercase }}</a> </li>
          <li> <a (click)="scroll('sectionMedia')">{{ 'Media' | uppercase }}</a> </li>
          <li> <a style="color: red;" routerLink="/login">{{ 'Login' | uppercase }}</a> </li>


        </ul>
      </div>
    </div>
  </div>
</div>
<ac-biografie></ac-biografie>
<ac-news></ac-news>
<ac-events></ac-events>
<ac-vita></ac-vita>
<ac-personal-data></ac-personal-data>
<ac-gallery></ac-gallery>
<ac-media></ac-media>
<ac-socials></ac-socials>
