<div class="admin-container">
  <div class="backend-title">{{ 'Aktuelles' | uppercase }}</div>
  <div class="body">

    <!-- Dialogbox  Edit-->
    <p-dialog header="News Bearbeiten" [(visible)]="showDialogEdit">

      <form class="form addForm" [formGroup]="formEdit" #form="ngForm">
        <label for="title"> {{title.value}} </label>
        <input type="text" #title formControlName="title" placeholder="Titel">

        <label for="date"> Veröffentlichungs Datum</label>
        <input type="date" name="Date" formControlName="releaseDate" placeholder="Datum">

        <label for="Text"> Text </label>
        <textarea name="Text" formControlName="text" rows="10" placeholder="Text"></textarea>

        <label for="show"> Aktivieren ?</label>
        <select name="show" formControlName="showPost">
          <option value="false">Nein</option>
          <option selected value="true">ja</option>
        </select>
      </form>
      <p-footer>
        <p-button (click)="changeNews()" styleClass="ui-button-success" label=" Speichern"></p-button>
      </p-footer>
    </p-dialog>

    <!-- Dialogbox  add-->
    <p-dialog header="News Hinzufügen" [(visible)]="showDialogAdd">
      <form class="form addForm" [formGroup]="formAdd" #form="ngForm">
        <label for="title"> News Titel </label>
        <input type="text" name="title" formControlName="title" value="hallo" placeholder="Titel">

        <label for="date"> Veröffentlichungs Datum</label>
        <input type="date" name="Date" formControlName="releaseDate" placeholder="Datum">

        <label for="Text"> Text </label>
        <textarea name="Text" formControlName="text" rows="10" placeholder="Text"></textarea>

        <label for="show"> Aktivieren ?</label>
        <select name="show" formControlName="showPost">
          <option value="0">Nein</option>
          <option selected value="1">ja</option>
        </select>
      </form>
      <p-footer>
        <p-button (click)="addNews()" styleClass="ui-button-success" label=" Speichern"></p-button>
      </p-footer>
    </p-dialog>

    <!-- Hinzufügen Button -->
    <p-button class="addButton" (click)="openAddWindow()" label="Hinzufügen"></p-button>

    <!-- Card Loop -->
    <ng-container *ngFor="let news of news$">

      <p-card class="admin-card" header="{{ news?.title }}">
        <p>{{ news?.releaseDate.seconds*1000 | date: 'dd.MMMM.yyyy' }}</p>
        <p>{{ news?.text }}</p>
        <p>{{ news?.id }}</p>
        <p>{{ news?.show }}</p>
        <p-footer class="p-footer">
          <p-button (click)="deleteNews(news.id)" styleClass="ui-button-danger mr-1" label="Löschen"></p-button>
          <p-button (click)="openEditWindow(news.id)" styleClass="ui-button-warning" label=" Bearbeiten"></p-button>
        </p-footer>
      </p-card>

    </ng-container>
  </div>
</div>
