@import 'grid';

.media-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, calc(28% - 1em));
  grid-auto-rows: 200px;
  justify-content: center;
  justify-items: center;
  grid-row-gap: 1em;
  grid-column-gap: 1em;


  @include BreakPoint(xl) {
    grid-template-columns: 40% 40%;
  }

  @include BreakPoint(md) {
    grid-template-columns: 100%;
  }

  iframe {
    height: 100%;
  }
}
