<section class="media" id="sectionMedia" data-aos="fade-up" data-aos-delay="1200">
  <div class="container">
    <div class="title">
      <h2>{{ 'Media' | uppercase }}</h2>
    </div>
    <div class="media-container">
      <ng-template ngFor [ngForOf]="movies" let-movie let-i="index">
        <ac-media-view *ngIf="i < toShow" [item]="movie" [index]="i"></ac-media-view>
      </ng-template>

      <iframe src="https://www.youtube.com/embed/EJHUpCNW5tU?start=3328" frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <iframe src="https://www.youtube.com/embed/EJHUpCNW5tU?start=3441" frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <iframe src="https://www.youtube.com/embed/EJHUpCNW5tU?start=7447" frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <iframe src="https://www.youtube.com/embed/EJHUpCNW5tU?start=13140" frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    </div>
  </div>
</section>
