:host {
  display: block;
  margin-top: 76px;
  width: 100vw;
  height: 100vh;
}

section {
  margin-top: 0;
}

form {
  display: flex;
  flex-flow: column;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;

  input {
    padding: 0.7rem 1rem;
    margin-bottom: 0.5rem;

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}
