@import '../../assets/scss/grid.scss';
@import '../../assets/scss/fluid-type.scss';
@import '../../assets/scss/grid.scss';


section.gallery {
  background-color: hsl(242, 34%, 8%);
  @include fluid-type('padding-bottom', $min-ScreenSize, $max-ScreenSize, 2rem, 8rem);
  position: relative;
  z-index: 100;

}





.gallery-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, calc(25% - 10px));
  grid-template-rows: auto;
  grid-gap: 10px;
  justify-content: center;
  align-content: center;

  @include BreakPoint(lg) {
    grid-template-columns: repeat(auto-fill, calc(50% - 10px));
  }
}

.footer {
  padding: 2rem 0;
  margin-top: 2rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  justify-items: center;
}
