<section class="gallery" id="sectionGallerie">
  <div class="container">
    <div class="title">
      <h2 class="light">{{ 'Gallerie' | uppercase}}</h2>
    </div>
    <div acLightbox class="lightBox"> </div>
    <div class="gallery-container">



      <ng-template ngFor [ngForOf]="images" let-i="index" let-img let-c="count">
        <ac-lightbox *ngIf="i < toShow" [item]="img" [index]="i"></ac-lightbox>
      </ng-template>



    </div>
    <div class="footer">
      <button (click)="toShow = toShow + 4" class="button btn-1">
        Mehr Bilder
      </button>
    </div>
  </div>
</section>
