@import '../../assets/scss/grid.scss';
@import '../../assets/scss/fluid-type.scss';
@import '../../assets/scss/grid.scss';


section.gallery {
  background-color: hsl(242, 34%, 8%);
  @include fluid-type('padding-bottom', $min-ScreenSize, $max-ScreenSize, 2rem, 8rem);

}


img {
  &.gallery-item {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 61%);
    width: 100%;
    height: auto;
    align-self: center;
    // filter: grayscale(70%), blur(90%);
    filter: sepia(80%) brightness(0.5);
    transition: filter 0.3s ease;



    &:hover {
      cursor: pointer;
      filter: sepia(0) brightness(1);
    }

    @include BreakPoint(lg) {
      filter: sepia(40%);
    }
  }
}


.gallery-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, calc(25% - 10px));
  grid-template-rows: auto;
  grid-gap: 10px;
  justify-content: center;
  align-content: center;

  @include BreakPoint(lg) {
    grid-template-columns: repeat(auto-fill, calc(50% - 10px));
  }
}

.footer {
  padding: 2rem 0;
  margin-top: 2rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  justify-items: center;
}
