<section class="container biografie">
  <div class="GridContainer">

    <div class="title">
      <h2> {{'Biografie' | uppercase}} </h2>
    </div>
    <div class="text">
      <p>Ludwig Blochberger wurde 1982 in Ost-Berlin geboren. Sein Vater Lutz Blochberger (Schauspieler & Regisseur) und
        seine Mutter Gitta Blochberger (Puppenspielerin & Erzieherin), studierten zu dieser Zeit an der Hochschule für
        Schauspielkunst “Ernst Busch”. 1984 zog die Familie aufgrund der Theater-Engagements der beiden Eltern nach
        Dresden. 1990 besuchte Ludwig Blochberger ein Jahr lang die Kreuzschule des Dresdner Kreuzchors. 1992
        übersiedelte er nach Wien und gehörte bis 1995 den Wiener Sängerknaben an. Mit diesem berühmten,
        österreichischen Knabenchor lernte er auf den gemein.</p>
      <button class="button btn-1"><b>Mehr</b>Lesen</button>
    </div>
    <div class="image">

    </div>
  </div>
</section>
