<section class="container biografie" id="sectionBiografie">
  <div class="GridContainer">

    <div class="title">
      <h2> {{'Biografie' | uppercase}} </h2>
    </div>
    <div class="text">
      <div [innerHTML]="biografie?.shortText"></div>
      <div class="hideBox" #hideBox>
        <div [innerHTML]="biografie?.longText"></div>
      </div>
      <button (click)="hideBox.classList.toggle('open')" class="button btn-1"><b>Mehr</b>Lesen</button>
    </div>
    <div class="image">

    </div>
  </div>
</section>
