.pt {
  padding-top: 10rem;
}

.pt-1 {
  padding-top: 0.5em;

}

.pt-2 {
  padding-top: 1em;
}

.pt-3 {
  padding-top: 1.5em;
}

.pt-4 {
  padding-bottom: 2em;
}

.pb-1 {
  padding-bottom: 0.5em;

}

.pb-2 {
  padding-bottom: 1em;
}

.pb-3 {
  padding-bottom: 1.5em;
}

.pb-4 {
  padding-bottom: 2em;
}

.pr-1 {
  padding-right: 0.5em;
}

.pr-2 {
  padding-right: 1em;
}

.pr-3 {
  padding-right: 1.5em;
}

.pr-4 {
  padding-right: 2em;
}

.pr-5 {
  padding-right: 2.5em;
}

.mr-1 {
  margin-right: 0.5em !important;
}

.mr-2 {
  margin-right: 1em;
}

.mr-3 {
  margin-right: 1.5em;
}

.mr-4 {
  margin-right: 2em;
}

.mr-5 {
  margin-right: 2.5em;
}
