<section class="socials">
  <div class="container">

    <div class="info">
      <p>Zwei flinke Boxer jagen die quirlige Eva und ihren Mops durch Sylt. Franz jagt im komplett verwahrlosten Taxi
        quer durch Bayern. Zwölf Boxkämpfer jagen Viktor quer über den großen Sylter Deich.</p>
    </div>

    <div class="title">
      <h2> {{ 'Socials '| uppercase }} </h2>
    </div>
    <div class="logos">
      <div class="icons instagram"> </div>
      <div class="icons youtube"> </div>
    </div>
  </div>
</section>
