:host {
  display: block;
  margin-top: 76px;
  width: 100vw;
  height: 100vh;
}

section {
  margin-top: 0;
}

form {
  display: flex;
  flex-flow: column;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;

  .body {
    padding: 1em 0.4em;
    margin-bottom: 1em;
  }

  span {
    &.user-name {
      margin-bottom: 0.9em;
    }

    &.ui-float-label {
      display: flex;
      flex-flow: column;
      align-content: center;

    }
  }

  input {
    padding: 0.7rem 1rem;
    margin-bottom: 0.5rem;

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}
