@import 'assets/scss/grid.scss';
@import 'assets/scss/fluid-type.scss';
@import 'assets/scss/animations.scss';
@import 'assets/scss/helper.scss';


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  z-index: 100;
}

// Test
// .container {
  //   overflow-y: scroll;
  //   scrollbar-width: none;
  //   /* Firefox */
  //   -ms-overflow-style: none;
  //   /* Internet Explorer 10+ */
  // }

// .container::-webkit-scrollbar {
  //   /* WebKit */
  //   width: 0;
  //   height: 0;
  // }

  // ::-webkit-scrollbar {
  //   display: none;
  //   width: 0px;
  //   background: transparent;
  // }

// /test



ac-root {
  display: grid;
  grid-template-rows: auto auto auto;
  grid-template-columns: 100%;
  grid-template-areas: "header""content""footer";

  ac-header {
    grid-area: header;
    z-index: 3000;
  }

  .contentBody {
    grid-area: content;
    min-height: calc(100vh - 128px);
  }

  ac-footer {
    grid-area: footer;
  }


  --light-color: rgba(225, 223, 223, 1);
  --dark-color: rgba(72, 72, 72, 1);
  --akzent-color: rgba(39, 152, 72, 1);
  --secondary-color: rgba(140, 29, 29, 1);
  --site-width: 1200px;
  --title-font: 'Sarabun',
  sans-serif;
  --main-font: 'Open Sans',
  sans-serif;

}

$akzent-color: rgba(39, 152, 72, 1);
$secondary-color: var(--secondary-color);

html {
  overflow-x: hidden;
}

html,
body {
  font-family: var(--main-font);
  height: 100%;
}

.container {
  width: 100%;
  max-width: var(--site-width);
  margin: 0 auto;
  padding: 0 1rem;
  overflow-x: hidden;

  >* {
    overflow-x: hidden;
  }

  &.center {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: 100%;
  }

  &.topSpace {
    padding-top: 4.5rem;
  }
}

section {
  @include fluid-type('margin-top', $min-ScreenSize, $max-ScreenSize, 30px, 120px);
  @include fluid-type('margin-vottom', $min-ScreenSize, $max-ScreenSize, 30px, 120px);
}

@import 'assets/scss/typography.scss';
