<div class="site-opening">
  <div class="container topSpace">
    <div class="GridContainer">
      <div class="title">
        <h1><b>Christian</b> Schönecker</h1>

      </div>
      <div *ngIf='!isTriggered' class="navigationBar">
        <ul class="secondaryMenu">
          <li> <a> {{ 'Biografie' | uppercase }} </a> </li>
          <li> <a> {{ 'Aktuelles' | uppercase }} </a> </li>
          <li> <a> {{ 'Veranstaltung' | uppercase }} </a> </li>
          <li> <a> {{ 'Vita' | uppercase }} </a> </li>
          <li> <a> {{ 'Personenbeschreibung' | uppercase }} </a> </li>
          <li> <a> {{ 'Gallerie' | uppercase }} </a> </li>
          <li> <a> {{ 'Media' | uppercase }} </a> </li>
        </ul>
      </div>
    </div>
  </div>
</div>
